body{
    background-color: blueviolet;
   
}
#cardDisplay{
    background-color: white;
    margin-top: 50px;
    padding-bottom: 100px;
    background-image: url(images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-attachment: relative;
    background-position: center; 
    border-radius: 30px;
    margin-bottom: 10px;
    
}
.card-header{
    background-color:transparent;
    border: transparent;
    text-decoration-color: black;
    
}
.accordion md-accordion{
    border: transparent;
}
.card-body{
    background-color: transparent;
}
.mb-0{
    font-family: "Times New Roman", Times, serif;
    background-color: transparent;
    color: black;
}
.card{
    background-color: transparent;
    border-right: transparent;
    border-left: transparent;
}
.attribution{
    position: fixed;
    
}
